<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>

<div class="np-padding">

  <npdc-document:meta></npdc-document:meta>

  <h3>Abstract</h3>
  <md-divider></md-divider>

  <div class="layout-padding">
    {{document.summary}}
  </div>

  <h3>People</h3>
  <md-divider></md-divider>

  <div ng-if="document.people" ng-repeat="person in document.people" class="layout-padding">
    <md-icon>person</md-icon>&nbsp;{{person.first_name}}&nbsp;{{person.last_name}}</br>
  </div>

  <h3>Organisations</h3>
  <md-divider></md-divider>

  <div ng-if="document.organisations" ng-repeat="o in document.organisations" class="layout-padding">
    <md-icon>business</md-icon>&nbsp;<b>{{o.name}}</b>&nbsp;<em>[{{o.role}}]</em></br>
  </div>

  <h3>Details</h3>
  <md-divider></md-divider>

  <div class="layout-padding">
    <section ng-if="document.ris_id">
      <strong>RIS ID:&nbsp;</strong>
      {{document.ris_id}}
    </section>
    <section ng-if="document.state">
      <strong>State:&nbsp;</strong>
      {{document.state}}
    </section>
    <section ng-if="document.start_date">
      <strong>Start Date:&nbsp;</strong>
      {{document.start_date}}
    </section>
    <section ng-if="document.end_date">
      <strong>End Date:&nbsp;</strong>
      {{document.end_date}}
    </section>
  </div>

</div>
