<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>
<npdc:loader ng-if="!document"></npdc:loader>

<div ng-if="document" class="np-padding">

  <npdc-document:meta></npdc-document:meta>

  <section>
    <h3>Summary</h3>
    <md-divider></md-divider>

    <div marked="document.summary"></div>
  </section>

  <section ng-if="translate('summary', 'nb')">
    <h3>Summary (norsk)</h3>
    <md-divider></md-divider>

    <div marked="translate('summary', 'nb')"></div>
  </section>

  <section>
    <h3>Abstract</h3>
    <md-divider></md-divider>

    <div marked="document.abstract"></div>
  </section>

  <section ng-if="translate('abstract', 'nb')">
    <h3>Abstract (norsk)</h3>
    <md-divider></md-divider>

    <div marked="translate('abstract', 'nb')"></div>
  </section>

  <section ng-if="document.knowledge_gap_addressed">
    <h3>Knowledge gap addressed</h3>
    <md-divider></md-divider>

    <div>{{document.knowledge_gap_addressed}}</div>
  </section>

  <npdc:persons></npdc:persons>
  <npdc:organisations></npdc:organisations>
  <npdc:placenames></npdc:placenames>

  <section>
    <h3>Details</h3>
    <md-divider></md-divider>
    <dl>
      <dt ng-if-start="document.ris_id">RIS ID</dt>
      <dd ng-if-end>{{document.ris_id}}</dd>
      <dt ng-if-start="document.state">State</dt>
      <dd ng-if-end>{{document.state}}</dd>
      <dt ng-if-start="document.start_date">Start Date</dt>
      <dd ng-if-end>{{document.start_date}}</dd>
      <dt ng-if-start="document.end_date">End Date</dt>
      <dd ng-if-end>{{document.end_date}}</dd>
    </dl>
  </section>

  <npdc:links links="document.links" related="related"></npdc:links>

</div>
